<app-spinner *ngIf="loading"></app-spinner>
<div class="row" *ngIf="!loading">
    <div class="col-lg-8 offset-lg-2">
        <div  class="card" style="width: 25rem; margin: 0 auto;">
            <img [src]="imgUrl" alt="" class="card-img-top img-thumbnail">
            <div class="card-body text-center">
                <h5 class="card-title">{{name}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Email:</b> {{email}}</li>
                    <li class="list-group-item"><b>Gender:</b> {{gender}}</li>
                    <li class="list-group-item"><b>Status:</b> {{status}}</li>
                </ul>
            </div>
            <button class="btn btn-primary w-100 mt-1" routerLink="/dashboard">
                Back
            </button>
        </div>
    </div>
</div>